/* add styles here */

.account {
  float:right;
  margin-right: 20px;
  margin-top: -35px;
}

#profile {
  border:4px solid #edd;
  background:#fee;
  padding:8px;
  margin-bottom:8px;
}

div.avatar {
  padding:2px;
  padding-bottom:0;
  margin-right:4px;
  float:left;
  font-size:0.78em;
  width : 60px;
  height : 60px;
  text-align: center;
}

div.avatar .name {
  padding-top:2px;
}

div.avatar img {
  margin:0 auto;
  padding:0;
  width : 40px;
  height : 40px;
}

#container {
	color: black;
	background-color:#fff;
	margin:0 auto;
}

#livecontainer {
	color: black;
	background-color:#fff;
	margin:0 auto;
}
